.cameraPreview {
  position: relative;
}

.cameraPreview.grid::after {
  position: absolute;
  z-index: 2;
  inset: 0;
  pointer-events: none;
  content: '';
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.42) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.42) 1px, transparent 1px);
  background-position: center;
  background-size: 33.333% 33.333%;
}

.cameraPreview.grid video {
  position: relative;
  z-index: 1;
}

.compositionGridOverlay {
  position: absolute;
  z-index: 2;
  inset: 0;
  pointer-events: none;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.42) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.42) 1px, transparent 1px);
  background-position: center;
  background-size: 33.333% 33.333%;
}
